@{
	Layout = "~/Views/Shared/_layout.cshtml";
}

@section Main
{
	<header>
        <h1>@Model.Titel</h1>
        <i>- @Model.PublishDate.ToShortDateString() - @Model.Intro</i>
		u: @Model.UpdateDate
    </header>
	<section>
	</section>
}
